body {
    color: white;
    font-size: 0.8rem;
}

h5 {

    line-height: 1.2;

}

.card_list {
    font-size: 1.4rem;
}

.my-dash {
    display: inline-block;
    width: 5vw;
    height: 2px;
    background-color: white;
    margin: 0 1rem;
}

/* Hover effects */

.nav-item .nav-link:hover {
    color: #1ABC9C!important;
}

/* Text Colors */

.text_color_black {
    color: black;
}

.color-black {
    background-color: black;
}

/* Backround Colors */

.bg_green {
    background-color: #1ABC9C;
}

.bg_red {
    background-color: #BB4B63;
}

.bg_blue {
    background-color: rgba(0, 35, 85, 0.944);
}

.form-floating>.form-control {
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
}

/* Social Links */

.social_links {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 0.5rem;
}

footer .about_freelancer a {
    text-decoration: none;
    color: #1ABC9C;
}

footer .about_freelancer a:hover {
    text-decoration: line-through;
    
}

.heart-beat {

}

.footer-marker > .heart-beat{
    display: inline-block;
    animation-name: heartbeat; 
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
    margin-left: 0.2rem;
}

.social_links a {
    text-decoration: none;
    color: white;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 1 );
    color: white;
  }
  20%
  {
    transform: scale( 1.25 );
    color: white;
  }
  40%
  {
    transform: scale( .75 );
    color: red;
  }
  60%
  {
    transform: scale( 1.25 );
    color: red;
  }
  80%
  {
    transform: scale( 1 );
    color: red;
  }
  100%
  {
    transform: scale( 1.25 );
    color: white;
  }
}


/* Bonus */

.hover_item {
    
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4rem;
    color: white;
    transition: .5s ease;
   
}


.hover_bg {
    
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: calc( 100% - (var(--bs-gutter-x) * 1));
    background-color: #1abc9c7d;
    transition: .5s ease;
}
.hover_effect:hover .hover_item {
    opacity: 1;
}

.hover_effect:hover img {
    filter: brightness(0.8);

}

.hover_effect:hover .hover_bg {
    opacity: 1;
}


/* Navbar */

.navbar-collapse ul li {
    line-height: 2;
}

