body {
    color: white;
    font-size: 0.8rem;
}

h5 {

    line-height: 2;

}



.my-custom-row {
    max-height: 10vh;
}

.menu_list ul {
    list-style: none;
}

.menu_list ul li {
    display: inline-block;
}



.card_list {
    font-size: 1.4rem;
}

.my_circle {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.my_circle img {
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

/* Text Colors */

.text_color_black {
    color: black;
}

/* Backround Colors */

.bg_green {
    background-color: #1ABC9C;
}

.bg_red {
    background-color: #BB4B63;
}
